<div class="container">
    <div class="d-flex flex-column align-items-center " style="height: 100%;">
        <h1 style="color: white;">ABOUT STORE</h1>
        <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis asperiores porro itaque
            debitis doloribus atque,
            eos provident ad neque voluptas quibusdam, expedita illum, voluptates praesentium cum magni velit culpa
            odit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quia laudantium sint aliquid eaque
            reiciendis magnam adipisci error necessitatibus perferendis ratione eos ullam magni, distinctio quo
            veritatis
            aliquam consectetur officia.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae aliquam et quisquam dolorum nihil.
            Quasi
            pariatur odio dignissimos veniam, illum, vero ducimus unde sunt fugiat earum quas perspiciatis neque eum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quas consequatur cupiditate magni adipisci
            tempora laborum, soluta fugit perspiciatis alias. Dolore, voluptate aspernatur dolores quidem eius beatae
            quia
            repellendus error.
        </p>
    </div>
</div>